:root {
  --red: 219, 68, 55;
  --black: 17, 17, 18;
  --blue: 32, 33, 36;
  --white: 255, 255, 255;

  --blur: 30px;

  --spacing-xl: 4rem;
  --spacing-lg: 2rem;
  --spacing-rg: 1rem;

  --shadow: 0 0 15px rgba(var(--black), 0.15);

  --rounded-rg: 1.25rem;
  --rounded-full: 999rem;

  --time-sm: 0.155s;
  --time-rg: 0.333s;
}

body {
  margin: 0;
  padding: 0;

  font-family: "cabinet";
  font-size: 18px;
  font-weight: 400;
  background-size: 15px 15px;
  background-image: radial-gradient(rgba(var(--red), 0.2) 1px, transparent 0);

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;

  transition: color var(--time-rg) ease-in-out;
}

a:hover {
  color: rgb(var(--red));
}

ul,
li {
  list-style-position: outside;
}

* {
  word-break: break-word;
  hyphens: auto;
}

@media (max-width: 768px) {
  :root {
    --spacing-xl: 2rem;
    --spacing-lg: 1rem;
    --spacing-rg: 0.75rem;
  }

  body {
    font-size: 14px;
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --red: 253, 92, 99;
  }
  body {
    background-color: rgb(var(--blue));
    color: #ffffff;
  }
}
*/