<style>
    @media (max-width: 768px) {
        .links {
            display: none !important;
        }

        .mobile-links {
           display: flex !important;
           align-items: center;
           color: rgb(var(--red));

               & a {
                   display: inline-flex;
                   transition: transform var(--time-rg) ease-in-out;
               }
        }

        nav {
            margin: 0 var(--spacing-rg);
            padding: var(--spacing-rg) calc(1.5 * var(--spacing-lg)) !important;
        }

        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(var(--white), 0.6);
            backdrop-filter: blur(var(--blur));
            -webkit-backdrop-filter: blur(var(--blur));
            transform: translateX(100%);

            transition: transform var(--time-rg) ease-in-out;

            z-index: 8;

            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(var(--red));
            font-size: 1.5rem;
            gap: var(--spacing-rg);
        }

        .menu {
            -webkit-mask: url(/assets/menu.svg) no-repeat center;
            mask: url(/assets/menu.svg) no-repeat center;
            height: 2rem;
            width: 2rem;
            background-color: rgb(var(--red));
        }
    }

    .mobile-links, .mobile-menu {
        display: none;
    }

    .logo {
        font-family: melodrama;
        font-size: 1.5rem;
        font-weight: 800;
        height: 2rem;
        color: rgba(var(--red));
    }

    section {
        display: flex;
        align-items: center;
        height: 100px;

        position: sticky;
        top: 0;

        z-index: 9;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(var(--white), 0.8);

        backdrop-filter: blur(var(--blur));
        -webkit-backdrop-filter: blur(var(--blur));

        margin: 0 var(--spacing-rg);
        padding: var(--spacing-rg) var(--spacing-lg);
        box-shadow: var(--shadow);
        border-radius: var(--rounded-full);
    }

    .links {
        display: flex;
        font-weight: 500;
        color: rgb(var(--red), 0.8);
        gap: var(--spacing-rg);
        font-size: 0.9rem;
    }

    .logo a {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .logo-letter-hidden {
        position: absolute;
        height: 100%;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;

        transition: opacity var(--time-sm) ease-in-out;
    }

    .logo-letter-container {
        position: relative;
        display: inline-flex;
        width: 0px;
        height: 100%;
        overflow: hidden;

        transition: width var(--time-sm) ease-in-out;
    }

    @media (prefers-color-scheme: dark) {
        nav {
            background-color: rgba(var(--blue), 0.8);
            border: 1px solid rgba(var(--white), 0.05);
        }
    }
</style>

<script>
    let open = false;

    const mobileMenu = document.querySelector(".mobile-menu") as HTMLElement;
    const icon = document.querySelector(".mobile-links a") as HTMLElement;
    const letters = document.querySelectorAll("div.logo div.logo-letter-container");
    const hidden = document.querySelectorAll("div.logo div.logo-letter-hidden");

    document.querySelector(".mobile-links a")?.addEventListener("click", () => {
        if (!mobileMenu || !icon) return;

        if (open) {
            mobileMenu.style.transform = "translateX(100%)";
        } else {
            mobileMenu.style.transform = "translateX(0%)";
        }

        open = !open;

        icon.style.transform = open ? "rotate(90deg)" : "rotate(0deg)";
    })

    document.querySelector(".logo")?.addEventListener("mouseenter", () => {
        letters.forEach(letter => {
            const w = letter.getAttribute("data-width");
            (letter as HTMLElement).style.width = `${w}px`;
        })

        hidden.forEach(letter => {
            (letter as HTMLElement).style.opacity = "1"
        })
    })

    document.querySelector(".logo")?.addEventListener("mouseleave", () => {
        letters.forEach(letter => {
            (letter as HTMLElement).style.width = "0px";
        })

        hidden.forEach(letter => {
            (letter as HTMLElement).style.opacity = "0"
        })
    })
</script>

<section>
    <nav>
        <div class="logo">
            <a href="/">
                <div class="logo-letter">O</div><div class="logo-letter-container" data-width="30.84"><div class="logo-letter-hidden">lga</div></div>
                <div class="logo-letter">B</div><div class="logo-letter-container" data-width="81.03"><div class="logo-letter-hidden">eatrice</div></div>
                <div class="logo-letter">C</div><div class="logo-letter-container" data-width="76.63"><div class="logo-letter-hidden">arcassi</div></div>
            </a>
        </div>

        <div class="links">
            <a href="/about">About</a> /
            <a href="/publications">Publications</a> /
            <a href="/research">Research</a> /
            <a href="/teaching">Teaching</a>
        </div>

        <div class="mobile-links">
            <a class="menu" />
        </div>
    </nav>
</section>

<section class="mobile-menu">
    <a href="/about">About</a>
    <a href="/publications">Publications</a>
    <a href="/research">Research</a> 
    <a href="/teaching">Teaching</a>
</section>

