<style>
    @media (max-width: 768px) {
        .links {
            display: none !important;
        }

        .mobile-links {
           display: flex !important;

           & img {
               height: 1rem;
               transition: transform var(--time-rg) ease-in-out;
           }
        }

        nav {
            margin: 0 var(--spacing-rg)
        }

        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(var(--white), 0.6);
            backdrop-filter: blur(var(--blur));
            transform: translateX(100%);

            transition: transform var(--time-rg) ease-in-out;

            z-index: 8;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(var(--red));
            font-size: 1.5rem;
            gap: var(--spacing-rg);
        }
    }

    .mobile-links, .mobile-menu {
        display: none;
    }

    .logo {
        font-family: melodrama;
        font-size: 1.5rem;
        font-weight: 800;
        color: rgba(var(--red));
   }

    section {
        display: flex;
        align-items: center;
        height: 100px;

        position: sticky;
        top: 0;

        z-index: 9;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(var(--white), 0.8);
        backdrop-filter: blur(var(--blur));
        padding: var(--spacing-rg) var(--spacing-lg);
        box-shadow: var(--shadow);
        border-radius: var(--rounded-full);
    }

    .links {
        display: flex;
        font-weight: 500;
        color: rgb(var(--red), 0.8);
        gap: var(--spacing-rg);
        font-size: 0.9rem;
    }
</style>

<script>
    let open = false;

    const mobileMenu = document.querySelector(".mobile-menu") as HTMLElement;
    const icon = document.querySelector(".mobile-links img") as HTMLElement;

    document.querySelector(".mobile-links a")?.addEventListener("click", () => {
        if (!mobileMenu || !icon) return;

        if (open) {
            mobileMenu.style.transform = "translateX(100%)";
        } else {
            mobileMenu.style.transform = "translateX(0%)";
        }

        open = !open;

        icon.style.transform = open ? "rotate(90deg)" : "rotate(0deg)";
    })
</script>

<section>
    <nav>
        <div class="logo">
            <a href="/">
                OBC
            </a>
        </div>

        <div class="links">
            <a href="/about">About</a> /
            <a href="/publications">Publications</a> /
            <a href="/research">Research</a> /
            <a href="/teaching">Teaching</a>
        </div>

        <div class="mobile-links">
            <a>
                <img src="/assets/menu.svg" alt="menu" />
            </a>
        </div>
    </nav>
</section>

<section class="mobile-menu">
    <a href="/about">About</a>
    <a href="/publications">Publications</a>
    <a href="/research">Research</a> 
    <a href="/teaching">Teaching</a>
</section>

