---
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content"

export const getStaticPaths = (async () => {
const projects = await getCollection("projects");
    return projects.map(project => ({params: {projectSlug: project.slug}}));
}) satisfies GetStaticPaths;

const { projectSlug } = Astro.params

const project = await getEntry("projects", projectSlug);
const { Content } = await project.render();
---
<style is:global>
    @media (max-width: 768px) {
    }

    .hero {
      width: 100%;
      height: 50vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h1 {
        font-family: melodrama;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        color: rgb(var(--red));
      }

      & h2 {
        font-family: melodrama;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        color: rgb(var(--red));
      }
    }

    .content {
        max-width: 1024px;
        margin: 0 auto;
        text-align: justify;
    }

    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p {
      margin-block-start: inherit;
      margin-block-end: inherit;
    }

    img, video {
      max-width: min(1024px, 100%);
      max-height: min(1024px, 75vh);
      margin: var(--spacing-rg) 0;
      border-radius: var(--rounded-rg);
      filter: drop-shadow(var(--shadow));
    }

    p:has(img), p:has(video) {
      margin-block-start: var(--spacing-xl);
      margin-block-end: var(--spacing-xl);
      text-align: center;
    }

    .subtitle {
        color: rgba(var(--red), 0.8);
    }
</style>

<MainLayout>
    <section class="hero">
        <h1>{project.data.title}</h1>
        <h2>{project.data.description}</h2>
        <span class="subtitle">{project.data.type.toUpperCase()} {project.data.date ? ` / ${project.data.date.getFullYear()}` : null}</span>
    </section>

    <section class="content">
        <Content />
    </section>
</MainLayout>
