---
import MainLayout from "./MainLayout.astro";

const {frontmatter} = Astro.props;
---
<style is:global>
    @media (max-width: 768px) {
        .grid {
            grid-template-columns: 1fr !important;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-top: var(--spacing-xl);
    }

    .render a {
        color: rgb(var(--red));
    }

    b {
        color: rgb(var(--red));
    }

    .profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-pic {
        max-width: 70%;
        border-radius: var(--rounded-rg);
    }

    .content p {
        text-align: justify;
        word-break: normal !important;
    }

    a {
        color: rgb(var(--red));
    }
</style>

<script>
    import { setClipPath } from "../utils";

    const profilePic = document.querySelector(".profile-pic") as HTMLImageElement;

    if (profilePic) {
        setClipPath(profilePic);
    }
</script>

<MainLayout>
    <section class="grid">
        <div class="profile-container">
            <img class="profile-pic" src={frontmatter.image} alt="profile picture" />
        </div>

        <div class="content">
            <slot />
        </div>
    </section>
</MainLayout>
