---
import MainLayout from "./MainLayout.astro";
---
<style is:global>
    .main a {
        text-decoration: underline;
    }

    .content {
        max-width: 1024px;
        margin: 0 auto;
        text-align: justify;
    }
</style>

<MainLayout>
    <section class="content">
        <slot />
    </section>
</MainLayout>
