---
import "../style/fonts.css";
import "../style/global.css";

import Navbar from "../components/navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="I'm Olga, an enviromental advocate and material designer.">
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍄‍🟫</text></svg>">
		<title>Olga Beatrice Carcassi</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YCW4LM7CM1"></script>
        <script>
        // @ts-ignore
        window.dataLayer = window.dataLayer || [];
        // @ts-ignore
        function gtag(){dataLayer.push(arguments);}
        // @ts-ignore
        gtag('js', new Date());
        // @ts-ignore
        gtag('config', 'G-YCW4LM7CM1');
        </script>
	</head>

	<body>
        <main>
            <Navbar />
            <section class="main">
                <slot />
            </section>
        </main>

        <footer>
            <div>
                <a href="mailto:o.carcassi@gmail.com">Contact me!</a>
                <span class="cc">2024 OBC</span>
            </div>
        </footer>
	</body>
</html>

<style>
    main {
        max-width: 1280px;
        margin: 0 auto;
        min-height: 100vh;
    }

    section.main {
        padding: 0 var(--spacing-lg);
    }

    footer {
        max-width: 1280px;
        margin: 10rem auto var(--spacing-lg);
    }

    footer div {
        margin: 0 var(--spacing-lg);
        color: rgb(var(--red));

        background-color: rgba(var(--white), 0.8);
        backdrop-filter: blur(var(--blur));
        padding: var(--spacing-rg) var(--spacing-lg);
        box-shadow: var(--shadow);
        border-radius: var(--rounded-full);

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 0.9rem;
        font-weight: 600;

        & .cc {
            color: rgba(var(--red), 0.8);
        }
    }
</style>
